.header {
  text-align: end;
  font-size: 1.5rem;
}
.link {
  /* background-color: #4caf50; */
  border: none;
  /* color: white; */
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
.link:hover {
  background-color: #807dac;
  color: white;
}
